/* HEADER */

.main-container {
    max-width: 80vw;
    height: 90vh;
    margin-left: 20rem;
    margin-right: 3.5rem;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    margin: 1.25rem;
    border-radius: 8px;

    background-color: var(--bg-navigation);
}


.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;

}

.header__login .login:hover {
    background-color: aliceblue;
    transform: scale(1.05);

}

.header__search {
    display: flex;
    align-items: center;
    width: 22.75rem;
    height: 3rem;
    margin-left: 0.5rem;
    background-color: var(--search-bg-color);
    border-radius: 31.25rem;
    border: 1px solid transparent;
}

.header__search img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.625rem;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0px 6.25rem 0 0.75rem;
    color: var(--white);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__search input:hover {

    font-size: 1rem;
    transform: scale(1.05);
}

.header__navigation .subscribe {
    color: var(--bg-subscribe);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    margin-right: 2rem;
}

.header__navigation .subscribe:hover {
    font-size: 1.25rem;
    transform: scale(1.05);
}

.header__login .login {
    width: 6.25rem;
    height: 3rem;
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}

/* PLAYLIST */
.playlist-container {
    height: 75vh;
    padding-top: 1rem;
    margin: 1.25rem;
    border-radius: 10px;
    background-color: #121212;
    max-width: 100%;

}

.playlist {
    margin: 3rem;
}

.playlist #greeting {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.playlist .session {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

/* SCROLL */
.offer__scroll-container {
    max-height: 52vh;
    margin: 3rem;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* FIM SCROLL */

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;

}

.cards {
    position: relative;
    width: 13.75rem;
    height: 12.5rem;
    overflow: hidden;
    border-radius: 8px;
}

.cards:hover {
    box-shadow: 5px 5px 5px aliceblue;
    transform: scale(1.05);

}

.cards span {
    padding: 1rem;
    position: absolute;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

/* COLOR CARDS */
.card1 {
    background-color: rgb(0, 100, 80);
}

.card2 {
    background-color: rgb(132, 0, 231);
}

.card3 {
    background: rgb(30, 50, 100);
}

.card4 {
    background: rgb(140, 25, 50);
}

.card5 {
    background: rgb(232, 17, 91);
}

.card6 {
    background: rgb(83, 122, 161);
}

.card7 {
    background: rgb(142, 102, 172);
}

.card8 {
    background: rgb(20, 138, 8);
}

.card9 {
    background: rgb(30, 50, 100);
}

.card10 {
    background: rgb(233, 20, 41);
}

.card11 {
    background: rgb(80, 55, 80);
}

.card12 {
    background: rgb(216, 64, 0);
}

.card13 {
    background: rgb(186, 93, 7);
}

.card14 {
    background: rgb(0, 30, 80);
}

.card15 {
    background: rgb(60, 30, 80);
}

/* FIM COLOR CARDS */

.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

/* CARD ARTISTA */

.artist {
    --column-count: 5;
    --grid-gap: 1.5rem;
    --min-container-width: 23.25rem;
}

.hidden {
    display: none;
}

.grid-container {
    grid-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 47.9375rem;
}

.artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 1rem;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-card:hover {
    background-color: #252525;
}

.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 3.875rem;
}

.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    padding-block-end: 0.5rem;
}

.artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
}

.play {
    position: relative;
}

.play .fa-play {
    position: absolute;
    right: 0.625rem;
    top: 7.5rem;
    padding: 1.125rem;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 0.875rem;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover {
    padding: 1.25rem;
    cursor: pointer;
}

#result-artist {
    padding: 1.25rem 2.5rem;
}

/* FIM CARD ARTISTA */