body {
    background-color: #000;
    box-sizing: border-box;
    font-family: var(--font-dm-sans);
}

.sidebar {
    bottom: 0;
    color: #b3b3b3;
    left: 0;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 300px;

}

.logo {
    background: #121212;
    border-radius: 8px;
    display: flex;
    padding: 12px 0 0 12px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 12px 0 0 12px;

}


.sidebar nav ul {
    margin-top: 12px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;

}

.sidebar ul li span:hover {
    text-decoration: underline;

}

.sidebar .fa-home {
    margin-right: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar .fa-search {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;

}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
    cursor: pointer;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    cursor: pointer;
}

.playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    min-block-size: 40px;
    padding: 16px 20px;
    border-radius: 10px;
}

.library .playlist__content {
    display: flex;
    flex-direction: column;
}

.library .playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.library .playlist__content .title {
    font-weight: 700;
}

.library .playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;

}

.library .playlist-button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 12px;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    margin: 10px;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;

}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
}

.languages .languages__button:hover {
    transform: scale(1.025);
    border: 1px solid #fff;
}

footer .footer__content {
    position: fixed;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.30rem;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.footer__content .text {
    flex-shrink: 0;
}

.footer__content p {
    font-size: 14px;
    font-weight: 500;

}

.footer__content .footer__title {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;

}

.footer__content .footer__button {
    background-color: #fff;
    border: 1px solid #878787;
    border-radius: 40px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    margin-right: 8px;
    padding: 14px 20px 10px;
    flex-shrink: 0;

}

.footer__content .footer__button:hover {
    background-color: aliceblue;
    transform: scale(1.05);
}